body {
  margin: 0;
  font-family: Helvetica;
  background-color: #00f;
}

#logo {
  height: 80px;
  width: 80px;
  order: -1;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
